body {
    background-color: lightgrey;
    ;
}

#title {   
    font-size: 30px;
    font-family: 'Roboto';
    text-align: center;
    color: darkslategrey;
    text-transform: capitalize;
}

#box {
    border-radius: 3%;
    height: 100px;
    width: 100px;
    background-color: black;
    opacity: 0.5;
    transition: 0.3s;
    position: absolute;
    top:0;
    left:0;
}

#box:hover {
    transform: translateY(-20px);
    opacity: 1;
}